@import url(tokens.css);
@import url(global.css);

body{    
    > header{
        text-align: center;
        padding: var(--space-2);
        margin: var(--space-4);
        > p{
            font-size: var(--text-xl);
        }
    }

    > nav {
        display: block;
        margin: auto;
    
        padding: var(--space-4);
        background: var(--gray);
        ul{
            li{
                padding: var(--space-1);
            }
        }
    }

    > main{
        background: var(--main);
        > article{
            margin: var(--space-2);
            section{
                border: var(--border);
                margin-top: var(--space-3);
                background-color: var(--main);
                padding: var(--space-2);
                }   
            }
    }
    > footer{
            > form textarea{
                width: 100%;
                background-color: var(--paper);    
                color: var(--ink);
            }
            padding: var(--space-2);
        }
}
@media(prefers-reduced-motion: no-preference)
{
    @view-transition{
        navigation:auto;
    }
}